@media only screen and (max-width: 768px) {
    .ssol-container {
        max-width: 100%;
    }

    .ssol-padding {
        padding: 50px 30px;
    }

    .ssol-short-order-area {
        padding: 0 20px;
    }

    .ssol-state-order-list-area {
        padding: 0 20px;
    }

    .ssol-single-state-archive-heading {
        font-size: 2rem;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .ssol-single-state-archive-heading span {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .ssol-state-list-heading {
        flex-direction: column;
    }
    .ssol-state-list-left {
        margin-top: 10px;
    }
    .ssol-state-content-area {
        gap: 50px;
    }
    .ssol-state-list-right {
        margin-top: 20px;
    }
}



@media only screen and (max-width: 500px) {
    .ssol-container {
        max-width: 100%;
    }

    .ssol-padding {
        padding: 50px 10px;
    }

    .ssol-single-state-archive-heading {
        font-size: 1rem;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .ssol-single-state-archive-heading span {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .ssol-short-order-area {
        padding: 0 20px;
    }

    .ssol-state-order-list-area {
        padding: 0 20px;
    }

    .ssol-state-list-banner p {
        font-size: 0.75rem;
    }
    .ssol-show-data-table-area {
        overflow-y: scroll;
    }
    .ssol-state-list-heading {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .ssol-state-content-area {
        gap: 0;
        flex-direction: column;
    }
    .ssol-state-list-left {
        margin-top: 20px;
    }
    .ssol-state-list-right {
        flex-basis: 100%;
        margin-top: 20px;
    }
    .ssol-state-list-banner h2 {
        font-size: 1.5rem;
    }

}